@using Smart_Library.Areas.Admin.Models;
@model IList<UserViewModel>
@{
    ViewData["Title"] = "Quản lý người dùng";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="breadcrumb-main user-member justify-content-sm-between ">
                <div class=" d-flex flex-wrap justify-content-center breadcrumb-main__wrapper">
                    <div class="d-flex align-items-center user-member__title justify-content-center me-sm-25">
                        <h4 class="fw-500 breadcrumb-title">Quản lý người dùng hệ thống</h4>
                    </div>
                    <form action="/" class="d-flex align-items-center user-member__form my-sm-0 my-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="svg replaced-svg">
                            <circle cx="11" cy="11" r="8"></circle>
                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                        </svg>
                        <input class="form-control me-sm-2 border-0 box-shadow-none" type="text"
                            placeholder="Tìm kiếm người dùng" aria-label="Search">
                    </form>
                </div>
                <div class="action-btn">
                    <a href="/admin/user/create" class="btn px-15 btn-primary rounded-pill">
                       <i class="las la-plus fs-16"></i>Thêm người dùng
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="userDatatable global-shadow border-light-0 p-30 bg-white radius-xl w-100 mb-30">
                <div class="table-responsive">
                    <table class="table mb-0 table-borderless">
                        <thead>
                            <tr class="userDatatable-header">
                                <th>
                                    <div class="d-flex align-items-center">
                                        <div class="custom-checkbox  check-all">
                                            <input class="checkbox" type="checkbox" id="check-44">
                                            <label for="check-44">
                                                <span class="checkbox-text userDatatable-title">Người dùng</span>
                                            </label>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <span class="userDatatable-title">Email</span>
                                </th>
                                <th>
                                    <span class="userDatatable-title">Nơi làm việc</span>
                                </th>
                                <th>
                                    <span class="userDatatable-title">Vai trò</span>
                                </th>
                                <th>
                                    <span class="userDatatable-title">Thời gian tham gia</span>
                                </th>
                                <th>
                                    <span class="userDatatable-title">Trạng thái</span>
                                </th>
                                <th>
                                    <span class="userDatatable-title float-end">Thao tác</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.ToList().Count == 0 || Model == null)
                            {
                                <tr>
                                    <td colspan="7">
                                        <div class="card card-default card-md mb-4">
                                            <div class="card-body">
                                                <div class="dm-empty text-center">
                                                    <div class="dm-empty__image">
                                                        <img src="/img/svg/empty.svg" alt="Empty table">
                                                    </div>
                                                    <div class="dm-empty__text">
                                                        <p class="">Không có người dùng nào!</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                @foreach (var user in Model.ToList())
                                {
                                    var FullName = user.FirstName?.Trim() + " " + user.LastName?.Trim();
                                    <tr>
                                        <td>
                                            <div class="d-flex">
                                                <div class="userDatatable__imgWrapper d-flex align-items-center">
                                                    <div class="checkbox-group-wrapper">
                                                        <div class="checkbox-group d-flex">
                                                            <div
                                                                class="checkbox-theme-default custom-checkbox checkbox-group__single d-flex">
                                                                <input class="checkbox" type="checkbox" id="check-grp-content14">
                                                                <label for="check-grp-content14"></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="#" class="profile-image rounded-circle d-block m-0 wh-38"
                                                        style="background-image:url('@user.ProfileImage'); background-size: cover;"></a>
                                                </div>
                                                <div class="userDatatable-inline-title">
                                                    <a href="#" class="text-dark fw-500">
                                                        <h6>@FullName</h6>
                                                    </a>
                                                    <p class="d-block mb-0">@user.Address</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">@user.Email</div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">@user.WorkspaceName</div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">@user.Role</div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">@user.CreatedAt?.ToString("HH:mm - dd/MM/yyyy")
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content d-inline-block">
                                                            @if (user.IsLocked)
                                                            {
                                                    <span
                                                        class="bg-opacity-warning color-warning rounded-pill userDatatable-content-status active">
                                                        Tạm khoá</span>
                                                            }
                                                            else
                                                            {
                                                    <span
                                                        class="bg-opacity-success  color-success rounded-pill userDatatable-content-status active">Hoạt
                                                        động</span>
                                                            }
                                            </div>
                                        </td>
                                        <td>
                                            <ul class="orderDatatable_actions mb-0 d-flex flex-wrap">
                                                <li>
                                                    <a class="view">
                                                        <i class="uil uil-eye"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="edit">
                                                        <i class="uil uil-edit"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-userid="@user.Id" data-username="@FullName" data-image="@user.ProfileImage"
                                                        data-userrole="@user.Role" data-bs-toggle="modal"
                                                        data-bs-target="#confirm-delete-user" class="remove">
                                                        <i class="uil uil-trash-alt"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                }
                            }
                            <tr>
                                <td>
                                    <div class="d-flex">
                                        <div class="userDatatable__imgWrapper d-flex align-items-center">
                                            <div class="checkbox-group-wrapper">
                                                <div class="checkbox-group d-flex">
                                                    <div class="checkbox-theme-default custom-checkbox checkbox-group__single d-flex">
                                                        <input class="checkbox" type="checkbox" id="check-grp-content14" />
                                                        <label for="check-grp-content14"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="#" class="profile-image rounded-circle d-block m-0 wh-38" style="background-image: url('/uploads/images/admin-2.webp'); background-size: cover;"></a>
                                        </div>
                                        <div class="userDatatable-inline-title">
                                            <a href="#" class="text-dark fw-500">
                                                <h6>Bùi Trương Phương</h6>
                                            </a>
                                            <p class="d-block mb-0">Thành phố Vinh, Tỉnh Nghệ An</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="userDatatable-content">Buitruongphuong98@gmail.com</div>
                                </td>
                                <td>
                                    <div class="userDatatable-content">Viện KT - CN</div>
                                </td>
                                <td>
                                    <div class="userDatatable-content">Quản trị viên</div>
                                </td>
                                <td>
                                    <div class="userDatatable-content">20:29 - 21/10/2023</div>
                                </td>
                                <td>
                                    <div class="userDatatable-content d-inline-block">
                                        <span class="bg-opacity-warning color-warning rounded-pill userDatatable-content-status active">Tạm khoá</span>
                                    </div>
                                </td>
                                <td>
                                    <ul class="orderDatatable_actions mb-0 d-flex flex-wrap">
                                        <li>
                                            <a href="#" class="view">
                                                <i class="uil uil-eye"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="edit">
                                                <i class="uil uil-edit"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-userid="9198" data-username="Bùi Trương Phương" data-image="/upload/user-upload/admin-2.webp" data-userrole="Quản trị viên" data-bs-toggle="modal" data-bs-target="#confirm-delete-user" class="remove">
                                                <i class="uil uil-trash-alt"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                    </tbody>
                </table>
            </div>
            @if (Model?.ToList().Count > 0 || Model != null) 
            {
                <div class="d-flex justify-content-end pt-30">
                    <nav class="dm-page ">
                        <ul class="dm-pagination d-flex">
                            <li class="dm-pagination__item">
                                <a href="#" class="dm-pagination__link rounded-pill pagination-control">
                                    <span class="la la-angle-left"></span>
                                </a>
                                <a href="#" class="dm-pagination__link rounded-pill active">
                                    <span class="page-number">1</span>
                                </a>
                                <a href="#" class="dm-pagination__link rounded-pill">
                                    <span class="page-number">2</span>
                                </a>
                                <a href="#" class="dm-pagination__link rounded-pill">
                                    <span class="page-number">3</span>
                                </a>
                                <a href="#" class="dm-pagination__link rounded-pill pagination-control">
                                    <span class="page-number">...</span>
                                </a>
                                <a href="#" class="dm-pagination__link rounded-pill">
                                    <span class="page-number">12</span>
                                </a>
                                <a href="#" class="dm-pagination__link rounded-pill pagination-control">
                                    <span class="la la-angle-right"></span>
                                </a>
                                <a href="#" class="dm-pagination__option"></a>
                            </li>
                            <li class="dm-pagination__item">
                                <div class="paging-option">
                                    <select name="page-number" class="page-selection rounded-pill">
                                        <option value="20">20 dòng/trang</option>
                                        <option value="40">40 dòng/trang</option>
                                        <option value="60">60 dòng/trang</option>
                                    </select>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
                }
        </div>
    </div>
</div>
</div>
<div class="modal fade new-member" id="confirm-delete-user" role="dialog" tabindex="-1"
    aria-labelledby="staticBackdropLabel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content radius-xl">
            <div class="modal-header">
                <h6 class="modal-title fs-5 fw-500" id="staticBackdropLabel">Xác nhận xoá người dùng</h6>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="svg replaced-svg">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <div class="new-member-modal">
                    <form asp-action="Delete" asp-controller="User" asp-area="Admin" method="POST">
                        <input type="hidden" name="id" class="user-id">
                        <div class="media bg-white radius-xl px-2 py-3 users-list shadow-lg ">
                            <img class="me-20 rounded-circle wh-50 bg-opacity-primary user-image-url" src="/img/tm1.png"
                                alt="Generic placeholder image">
                            <div class="media-body d-xl-flex users-list-body">
                                <div class="flex-1 users-list-body__title">
                                    <div class="d-flex flex-1 justify-content-between align-items-center">
                                        <div>
                                            <h6 class="mt-0 fw-500 user-name">Nguyễn Anh Tuấn</h6>
                                            <span class="user-role">Quản trị viên</span>
                                        </div>
                                        <div class="users-list__button mt-xl-0 mt-15">
                                            <a
                                                class="btn btn-warning btn-transparent-warning btn-rounded px-15 global-shadow">Khoá
                                                tài khoản</a>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="mt-2 warning-tag-message bg-opacity-danger dm-tag tag-danger tag-transparented">
                            Cảnh báo: Thao
                            tác này sẽ xoá vĩnh
                            viễn dữ liệu của người này trên hệ thống. Nếu không thật sự cần thiết, bạn nên
                            khoá tài khoá tài khoản này để đảm bảo quyền lợi cho khách hàng!</p>
                        <div class="button-group d-flex pt-25 justify-content-end">
                            <button type="submit" class="btn btn-danger btn-rounded">Xác
                                nhận
                            </button>
                            <button type="button" class="btn btn-light btn-default btn-rounded"
                                data-bs-dismiss="modal">Huỷ bỏ</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@if (TempData["Message"] != null)
{
    @section Scripts {
    <script>
        const messageType = '@TempData["Type"]'
            let icon = "";
            switch (messageType) {
                case 'success':
                    icon = 'check-circle';
                    break;
                case 'error':
                    icon = 'times-circle';
                    break;
                case 'warning':
                    icon = 'exclamation-circle';
                    break;
                default:
                    icon = 'circle-info'
            }
            showMessage(messageType, icon, '@TempData["Message"]?.ToString()')
        </script>
}
}
@section Delete {
    <script>
        const deleteModal = document.getElementById('confirm-delete-user')
        if (deleteModal) {
            deleteModal.addEventListener('show.bs.modal', event => {
                // Button that triggered the modal
                const button = event.relatedTarget
                // Extract info from data-bs-* attributes
                const userData = {
                    id: button.getAttribute('data-userid'),
                    name: button.getAttribute('data-username'),
                    image: button.getAttribute('data-image'),
                    role: button.getAttribute('data-userrole')
                }
                const modalData = {
                    userId: deleteModal.querySelector('.user-id'),
                    userName: deleteModal.querySelector('.user-name'),
                    userImage: deleteModal.querySelector('.user-image-url'),
                    userRole: deleteModal.querySelector('.user-role')
                }
                // If necessary, you could initiate an Ajax request here
                // and then do the updating in a callback.

                // Update the modal's content.
                modalData.userId.value = userData.id
                modalData.userName.textContent = userData.name
                modalData.userImage.src = userData.image
                modalData.userRole.textContent = userData.role
            })
        }
    </script>
}