@{
    ViewData["Title"] = "Quản lý danh sách tác giả";
    var currentPage = ViewBag.CurrentPage;
    var currentPageSize = ViewBag.CurrentPageSize;
    var totalPage = ViewBag.TotalPage;
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="contact-breadcrumb">
                <div class="breadcrumb-main add-contact justify-content-sm-between ">
                    <div class=" d-flex flex-wrap justify-content-center breadcrumb-main__wrapper">
                        <div class="d-flex align-items-center add-contact__title justify-content-center me-sm-25">
                            <h4 class="text-capitalize fw-500 breadcrumb-title">Contacts</h4>
                            <span class="sub-title ms-sm-25 ps-sm-25"></span>
                        </div>

                        <form action="/" class="d-flex align-items-center add-contact__form my-sm-0 my-2">
                            <img src="/img/svg/search.svg" alt="search" class="svg">
                            <input class="form-control me-sm-2 border-0 box-shadow-none" type="search"
                                placeholder="Search by Name" aria-label="Search">
                        </form>

                    </div>
                    <div class="action-btn">
                        <a class="btn px-15 btn-primary" data-bs-toggle="modal" data-bs-target="#add-contact">
                            <i class="las la-plus fs-16"></i>Thêm tác giả
                        </a>
                    </div>
                </div>

            </div>
            <!-- ends: contact-breadcrumb -->
        </div>
    </div>
    <div class="row contact-card-group">
        <div class="col-xl-3 mb-25">
            <div class="card contact-card">
                <div class="card-body text-center pt-30 px-25 pb-0">
                    <div class="card__more-action dropdown dropdown-click">
                        <button class="btn-link border-0 bg-transparent p-0" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <img src="/img/svg/more-horizontal.svg" alt="more-horizontal" class="svg">
                        </button>
                        <div class="dropdown-default dropdown-bottomLeft dropdown-menu-right dropdown-menu">
                            <a class="dropdown-item" href="#">view</a>
                            <a class="dropdown-item" href="#">edit</a>
                            <a class="dropdown-item" href="#">delete</a>
                        </div>
                    </div>

                    <div class="contact-profile-card text-center">
                        <div class="cp-img d-flex justify-content-center">
                            <img class="cp-img__main" src="/img/tm9.png" alt="HexaDash Contact">
                        </div>
                        <div class="cp-info">
                            <h6 class="cp-info__title">Grant Marshall</h6>
                            <span class="cp-info__designation">User Interface Designer</span>
                        </div>
                    </div>

                    <div class="card-footer mt-20 pt-20 pb-20 px-0 bg-transparent">
                        <ul class="c-info-list">

                            <li class="c-info-list__item d-flex">
                                <div class="c-info-item-icon">
                                    <img src="/img/svg/phone.svg" alt="phone" class="svg">
                                </div>
                                <p class="c-info-item-text">
                                    +1 (861) 550-2796
                                </p>
                            </li>


                            <li class="c-info-list__item d-flex">
                                <div class="c-info-item-icon">
                                    <img src="/img/svg/mail.svg" alt="mail" class="svg">
                                </div>
                                <p class="c-info-item-text">
                                    marshall@yahoo.com
                                </p>
                            </li>


                            <li class="c-info-list__item d-flex">
                                <div class="c-info-item-icon">
                                    <img src="/img/svg/map-pin.svg" alt="map-pin" class="svg">
                                </div>
                                <p class="c-info-item-text">
                                    225 Bills Place
                                </p>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- end: card -->
        </div>
        <!-- ends: col-xl-3 -->
        <div class="col-xl-3 mb-25">
            <div class="card contact-card">
                <div class="card-body text-center pt-30 px-25 pb-0">
                    <div class="card__more-action dropdown dropdown-click">
                        <button class="btn-link border-0 bg-transparent p-0" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <img src="/img/svg/more-horizontal.svg" alt="more-horizontal" class="svg">
                        </button>
                        <div class="dropdown-default dropdown-bottomLeft dropdown-menu-right dropdown-menu">
                            <a class="dropdown-item" href="#">view</a>
                            <a class="dropdown-item" href="#">edit</a>
                            <a class="dropdown-item" href="#">delete</a>
                        </div>
                    </div>

                    <div class="contact-profile-card text-center">
                        <div class="cp-img d-flex justify-content-center">
                            <img class="cp-img__main" src="/img/tm10.png" alt="HexaDash Contact">
                        </div>
                        <div class="cp-info">
                            <h6 class="cp-info__title">Pena Valdez</h6>
                            <span class="cp-info__designation">User Interface Designer</span>
                        </div>
                    </div>

                    <div class="card-footer mt-20 pt-20 pb-20 px-0 bg-transparent">
                        <ul class="c-info-list">

                            <li class="c-info-list__item d-flex">
                                <div class="c-info-item-icon">
                                    <img src="/img/svg/phone.svg" alt="phone" class="svg">
                                </div>
                                <p class="c-info-item-text">
                                    +1 (909) 445-2527
                                </p>
                            </li>


                            <li class="c-info-list__item d-flex">
                                <div class="c-info-item-icon">
                                    <img src="/img/svg/mail.svg" alt="mail" class="svg">
                                </div>
                                <p class="c-info-item-text">
                                    valdez@yahoo.com
                                </p>
                            </li>


                            <li class="c-info-list__item d-flex">
                                <div class="c-info-item-icon">
                                    <img src="/img/svg/map-pin.svg" alt="map-pin" class="svg">
                                </div>
                                <p class="c-info-item-text">
                                    266 Tiffany Place
                                </p>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- end: card -->
        </div>
        <!-- ends: col-xl-3 -->
        <div class="col-xl-3 mb-25">
            <div class="card contact-card">
                <div class="card-body text-center pt-30 px-25 pb-0">
                    <div class="card__more-action dropdown dropdown-click">
                        <button class="btn-link border-0 bg-transparent p-0" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <img src="/img/svg/more-horizontal.svg" alt="more-horizontal" class="svg">
                        </button>
                        <div class="dropdown-default dropdown-bottomLeft dropdown-menu-right dropdown-menu">
                            <a class="dropdown-item" href="#">view</a>
                            <a class="dropdown-item" href="#">edit</a>
                            <a class="dropdown-item" href="#">delete</a>
                        </div>
                    </div>

                    <div class="contact-profile-card text-center">
                        <div class="cp-img d-flex justify-content-center">
                            <img class="cp-img__main" src="/img/tm11.png" alt="HexaDash Contact">
                        </div>
                        <div class="cp-info">
                            <h6 class="cp-info__title">Jessica Miles</h6>
                            <span class="cp-info__designation">Product Designer</span>
                        </div>
                    </div>

                    <div class="card-footer mt-20 pt-20 pb-20 px-0 bg-transparent">
                        <ul class="c-info-list">

                            <li class="c-info-list__item d-flex">
                                <div class="c-info-item-icon">
                                    <img src="/img/svg/phone.svg" alt="phone" class="svg">
                                </div>
                                <p class="c-info-item-text">
                                    +1 (824) 487-2755
                                </p>
                            </li>


                            <li class="c-info-list__item d-flex">
                                <div class="c-info-item-icon">
                                    <img src="/img/svg/mail.svg" alt="mail" class="svg">
                                </div>
                                <p class="c-info-item-text">
                                    miles@mail.com
                                </p>
                            </li>


                            <li class="c-info-list__item d-flex">
                                <div class="c-info-item-icon">
                                    <img src="/img/svg/map-pin.svg" alt="map-pin" class="svg">
                                </div>
                                <p class="c-info-item-text">
                                    240 Hillel Place
                                </p>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- end: card -->
        </div>
        <!-- ends: col-xl-3 -->
        <div class="col-xl-3 mb-25">
            <div class="card contact-card">
                <div class="card-body text-center pt-30 px-25 pb-0">
                    <div class="card__more-action dropdown dropdown-click">
                        <button class="btn-link border-0 bg-transparent p-0" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <img src="/img/svg/more-horizontal.svg" alt="more-horizontal" class="svg">
                        </button>
                        <div class="dropdown-default dropdown-bottomLeft dropdown-menu-right dropdown-menu">
                            <a class="dropdown-item" href="#">view</a>
                            <a class="dropdown-item" href="#">edit</a>
                            <a class="dropdown-item" href="#">delete</a>
                        </div>
                    </div>

                    <div class="contact-profile-card text-center">
                        <div class="cp-img d-flex justify-content-center">
                            <img class="cp-img__main" src="/img/tm12.png" alt="HexaDash Contact">
                        </div>
                        <div class="cp-info">
                            <h6 class="cp-info__title">Natasha Gamble</h6>
                            <span class="cp-info__designation">Motion Designer</span>
                        </div>
                    </div>

                    <div class="card-footer mt-20 pt-20 pb-20 px-0 bg-transparent">
                        <ul class="c-info-list">

                            <li class="c-info-list__item d-flex">
                                <div class="c-info-item-icon">
                                    <img src="/img/svg/phone.svg" alt="phone" class="svg">
                                </div>
                                <p class="c-info-item-text">
                                    +1 (980) 424-3729
                                </p>
                            </li>


                            <li class="c-info-list__item d-flex">
                                <div class="c-info-item-icon">
                                    <img src="/img/svg/mail.svg" alt="mail" class="svg">
                                </div>
                                <p class="c-info-item-text">
                                    gamble@outlook.com
                                </p>
                            </li>


                            <li class="c-info-list__item d-flex">
                                <div class="c-info-item-icon">
                                    <img src="/img/svg/map-pin.svg" alt="map-pin" class="svg">
                                </div>
                                <p class="c-info-item-text">
                                    463 Harbor Court
                                </p>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- end: card -->
        </div>
        <!-- ends: col-xl-3 -->
        <div class="col-xl-3 mb-25">
            <div class="card contact-card">
                <div class="card-body text-center pt-30 px-25 pb-0">
                    <div class="card__more-action dropdown dropdown-click">
                        <button class="btn-link border-0 bg-transparent p-0" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <img src="/img/svg/more-horizontal.svg" alt="more-horizontal" class="svg">
                        </button>
                        <div class="dropdown-default dropdown-bottomLeft dropdown-menu-right dropdown-menu">
                            <a class="dropdown-item" href="#">view</a>
                            <a class="dropdown-item" href="#">edit</a>
                            <a class="dropdown-item" href="#">delete</a>
                        </div>
                    </div>

                    <div class="contact-profile-card text-center">
                        <div class="cp-img d-flex justify-content-center">
                            <img class="cp-img__main" src="/img/tm13.png" alt="HexaDash Contact">
                        </div>
                        <div class="cp-info">
                            <h6 class="cp-info__title">Natasha Gamble</h6>
                            <span class="cp-info__designation">Motion Designer</span>
                        </div>
                    </div>

                    <div class="card-footer mt-20 pt-20 pb-20 px-0 bg-transparent">
                        <ul class="c-info-list">

                            <li class="c-info-list__item d-flex">
                                <div class="c-info-item-icon">
                                    <img src="/img/svg/phone.svg" alt="phone" class="svg">
                                </div>
                                <p class="c-info-item-text">
                                    +1 (980) 424-3729
                                </p>
                            </li>


                            <li class="c-info-list__item d-flex">
                                <div class="c-info-item-icon">
                                    <img src="/img/svg/mail.svg" alt="mail" class="svg">
                                </div>
                                <p class="c-info-item-text">
                                    gamble@outlook.com
                                </p>
                            </li>


                            <li class="c-info-list__item d-flex">
                                <div class="c-info-item-icon">
                                    <img src="/img/svg/map-pin.svg" alt="map-pin" class="svg">
                                </div>
                                <p class="c-info-item-text">
                                    463 Harbor Court
                                </p>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- end: card -->
        </div>
        <!-- ends: col-xl-3 -->
        <div class="col-xl-3 mb-25">
            <div class="card contact-card">
                <div class="card-body text-center pt-30 px-25 pb-0">
                    <div class="card__more-action dropdown dropdown-click">
                        <button class="btn-link border-0 bg-transparent p-0" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <img src="/img/svg/more-horizontal.svg" alt="more-horizontal" class="svg">
                        </button>
                        <div class="dropdown-default dropdown-bottomLeft dropdown-menu-right dropdown-menu">
                            <a class="dropdown-item" href="#">view</a>
                            <a class="dropdown-item" href="#">edit</a>
                            <a class="dropdown-item" href="#">delete</a>
                        </div>
                    </div>

                    <div class="contact-profile-card text-center">
                        <div class="cp-img d-flex justify-content-center">
                            <img class="cp-img__main" src="/img/tm14.png" alt="HexaDash Contact">
                        </div>
                        <div class="cp-info">
                            <h6 class="cp-info__title">Natasha Gamble</h6>
                            <span class="cp-info__designation">Motion Designer</span>
                        </div>
                    </div>

                    <div class="card-footer mt-20 pt-20 pb-20 px-0 bg-transparent">
                        <ul class="c-info-list">

                            <li class="c-info-list__item d-flex">
                                <div class="c-info-item-icon">
                                    <img src="/img/svg/phone.svg" alt="phone" class="svg">
                                </div>
                                <p class="c-info-item-text">
                                    +1 (980) 424-3729
                                </p>
                            </li>


                            <li class="c-info-list__item d-flex">
                                <div class="c-info-item-icon">
                                    <img src="/img/svg/mail.svg" alt="mail" class="svg">
                                </div>
                                <p class="c-info-item-text">
                                    gamble@outlook.com
                                </p>
                            </li>


                            <li class="c-info-list__item d-flex">
                                <div class="c-info-item-icon">
                                    <img src="/img/svg/map-pin.svg" alt="map-pin" class="svg">
                                </div>
                                <p class="c-info-item-text">
                                    463 Harbor Court
                                </p>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- end: card -->
        </div>
        <!-- ends: col-xl-3 -->
        <div class="col-xl-3 mb-25">
            <div class="card contact-card">
                <div class="card-body text-center pt-30 px-25 pb-0">
                    <div class="card__more-action dropdown dropdown-click">
                        <button class="btn-link border-0 bg-transparent p-0" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <img src="/img/svg/more-horizontal.svg" alt="more-horizontal" class="svg">
                        </button>
                        <div class="dropdown-default dropdown-bottomLeft dropdown-menu-right dropdown-menu">
                            <a class="dropdown-item" href="#">view</a>
                            <a class="dropdown-item" href="#">edit</a>
                            <a class="dropdown-item" href="#">delete</a>
                        </div>
                    </div>

                    <div class="contact-profile-card text-center">
                        <div class="cp-img d-flex justify-content-center">
                            <img class="cp-img__main" src="/img/tm6.png" alt="HexaDash Contact">
                        </div>
                        <div class="cp-info">
                            <h6 class="cp-info__title">Natasha Gamble</h6>
                            <span class="cp-info__designation">Motion Designer</span>
                        </div>
                    </div>

                    <div class="card-footer mt-20 pt-20 pb-20 px-0 bg-transparent">
                        <ul class="c-info-list">

                            <li class="c-info-list__item d-flex">
                                <div class="c-info-item-icon">
                                    <img src="/img/svg/phone.svg" alt="phone" class="svg">
                                </div>
                                <p class="c-info-item-text">
                                    +1 (980) 424-3729
                                </p>
                            </li>


                            <li class="c-info-list__item d-flex">
                                <div class="c-info-item-icon">
                                    <img src="/img/svg/mail.svg" alt="mail" class="svg">
                                </div>
                                <p class="c-info-item-text">
                                    gamble@outlook.com
                                </p>
                            </li>


                            <li class="c-info-list__item d-flex">
                                <div class="c-info-item-icon">
                                    <img src="/img/svg/map-pin.svg" alt="map-pin" class="svg">
                                </div>
                                <p class="c-info-item-text">
                                    463 Harbor Court
                                </p>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- end: card -->
        </div>
        <!-- ends: col-xl-3 -->
        <div class="col-xl-3 mb-25">
            <div class="card contact-card">
                <div class="card-body text-center pt-30 px-25 pb-0">
                    <div class="card__more-action dropdown dropdown-click">
                        <button class="btn-link border-0 bg-transparent p-0" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <img src="/img/svg/more-horizontal.svg" alt="more-horizontal" class="svg">
                        </button>
                        <div class="dropdown-default dropdown-menu dropdown-bottomLeft dropdown-menu-right">
                            <a class="dropdown-item" href="#">view</a>
                            <a class="dropdown-item" href="#">edit</a>
                            <a class="dropdown-item" href="#">delete</a>
                        </div>
                    </div>

                    <div class="contact-profile-card text-center">
                        <div class="cp-img d-flex justify-content-center">
                            <img class="cp-img__main" src="/img/tm5.png" alt="HexaDash Contact">
                        </div>
                        <div class="cp-info">
                            <h6 class="cp-info__title">Natasha Gamble</h6>
                            <span class="cp-info__designation">Motion Designer</span>
                        </div>
                    </div>

                    <div class="card-footer mt-20 pt-20 pb-20 px-0 bg-transparent">
                        <ul class="c-info-list">

                            <li class="c-info-list__item d-flex">
                                <div class="c-info-item-icon">
                                    <img src="/img/svg/phone.svg" alt="phone" class="svg">
                                </div>
                                <p class="c-info-item-text">
                                    +1 (980) 424-3729
                                </p>
                            </li>


                            <li class="c-info-list__item d-flex">
                                <div class="c-info-item-icon">
                                    <img src="/img/svg/mail.svg" alt="mail" class="svg">
                                </div>
                                <p class="c-info-item-text">
                                    gamble@outlook.com
                                </p>
                            </li>


                            <li class="c-info-list__item d-flex">
                                <div class="c-info-item-icon">
                                    <img src="/img/svg/map-pin.svg" alt="map-pin" class="svg">
                                </div>
                                <p class="c-info-item-text">
                                    463 Harbor Court
                                </p>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- end: card -->
        </div>
        <div class="d-flex justify-content-end pt-30">
            <nav class="dm-page ">
                <ul class="dm-pagination d-flex">
                    <li class="dm-pagination__item">
                        @if (currentPage > 1)
                        {
                            var prevPage = currentPage - 1;
                            <a asp-action="Categories" asp-controller="Books" asp-area="Admin" asp-route-page="@prevPage"
                                class="dm-pagination__link rounded-pill pagination-control">
                                <span class="la la-angle-left"></span>
                            </a>
                        }
                        @for (int i = 1; i <= totalPage; i++)
                        {
                            var active = i == currentPage ? "active" : "";
                            <a asp-action="Categories" asp-controller="Books" asp-area="Admin" asp-route-page="@i"
                                class="dm-pagination__link rounded-pill @active">
                                <span class="page-number">@i</span>
                            </a>
                        }
                        @if (currentPage < totalPage && totalPage > 1)
                        {
                            var nextPage = currentPage + 1;
                            <a asp-action="Categories" asp-controller="Books" asp-area="Admin" asp-route-page="@nextPage"
                                class="dm-pagination__link rounded-pill pagination-control">
                                <span class="la la-angle-right"></span>
                            </a>
                        }
                    </li>
                    <li class="dm-pagination__item">
                        <div class="paging-option">
                            <form asp-action="Categories" asp-controller="Books" method="GET" id="page-size-form">
                                <input type="hidden" name="page" value="@currentPage" />
                                <select id="change-page-size" class="page-size-select" name="pageSize"
                                    class="page-selection rounded-pill">
                                    <option value="10" selected="@(currentPageSize == 10)">10 danh mục/trang
                                    </option>
                                    <option value="25" selected="@(currentPageSize == 25)">25 danh mục/trang
                                    </option>
                                    <option value="50" selected="@(currentPageSize == 50)">50 danh mục/trang
                                    </option>
                                </select>
                            </form>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- ends: col-xl-3 -->
    </div>
</div>
<partial name="./AddAuthorModal.cshtml" />